<html>
<head>
	<title>IcbcUtil</title>
	<!-- These paths use .. so that they still work behind a path mapping proxy. The fully qualified version is more cut and paste friendly. -->
	<link href="/icbc/mo/emerchant/css/jquery-ui.css" rel="stylesheet" type="text/css"/>
	<script src="/icbc/mo/emerchant/js/angular.js" type="text/javascript" charset="GB18030"></script>
	<script type='text/javascript' src='/icbc/mo/emerchant/dwr//engine.js'></script>
	<script type='text/javascript' src='/icbc/mo/emerchant/dwr/interface/IcbcUtil.js'></script>
	<script type='text/javascript' src='/icbc/mo/emerchant/dwr/interface/IcbcUtil.js'></script>
	<script type='text/javascript' src='/icbc/mo/emerchant/js/jquery/jquery.js'></script>
	<script type='text/javascript' src='/icbc/mo/emerchant/js/jquery.o2es.js'></script>
	<script src="/icbc/mo/emerchant/js/jqueryui/jquery-ui.js" type="text/javascript"></script>
	<script src="/icbc/mo/emerchant/js/jquery.ui.eMerchant.js" type="text/javascript" charset="GB18030"></script>
	<script language="JavaScript" src="/icbc/mo/emerchant/js/icbc.util.js" charset="GB18030"></script>
	<script type='text/javascript' src='/icbc/mo/emerchant/js/dwr.util.js'></script>
	<script type='text/javascript'>
		window.JsDebug = true;
		//dwr.util.useLoadingMessage('???...');
		function objectEval(text) {
			// eval() breaks when we use it to get an object using the { a:42, b:'x' }
			// syntax because it thinks that { and } surround a block and not an object
			// So we wrap it in an array and extract the first element to get around
			// this.
			// This code is only needed for interpreting the parameter input fields,
			// so you can ignore this for normal use.
			// The regex = [start of line][whitespace]{[stuff]}[whitespace][end of line]
			text = text.replace(/\n/g, ' ');
			text = text.replace(/\r/g, ' ');
			if (text.match(/^\s*\{.*\}\s*$/)) {
				text = '[' + text + '][0]';
			}
			return eval(text);
		}
	</script>
	<style>
		input.itext {
			font-size: smaller;
			background: #E4E4E4;
			border: 0;
		}

		input.ibutton {
			font-size: xx-small;
			border: 1px outset;
			margin: 0px;
			padding: 0px;
		}

		span.reply {
			background: #ffffdd;
			white-space: pre;
		}

		span.warning {
			font-size: smaller;
			color: red;
		}
	</style>


	<script language="javascript">
	var dwrmodle =	angular.module("dwr.debug",['$dwr']);
	dwrmodle.controller('IcbcUtilCtrl',['$scope','$dwr','IcbcUtil','dwrUtil',function($scope,dwr,IcbcUtil,dwrUtil){
			var click = function(type,name,i,parmlen){
				var parms = [], j,level,span;
				for(j = 0;j < parmlen;j++){
					parms[j] = $scope['ngm'+i+"_"+j];
				}
				level = $scope['level'+i];
				parms[parms.length] = function(data){
					$scope.$apply(function () {
						if(type == 'executeClick'){
							$scope['span'+i] = dwr.util.toDescriptiveString(data,level);
						}else{
							$scope['span'+i] = toEvalString(data);
						}
					})
				}
				var res = IcbcUtil[name].apply(IcbcUtil,parms);
			};

			$scope.executeClick = function(name,i,parmlen){
				click('executeClick',name,i,parmlen);
			};
			$scope.evalStringClick = function(name,i,parmlen){
				click('evalStringClick',name,i,parmlen);
			};
			$scope.clearClick = function(name,i,parmlen){
				$scope['span'+i] = "";
			};
		}]);
	</script>
</head>
<body ng-app="dwr.debug">
<h2>Methods For: IcbcUtil +com.icbc.IcbcUtil)</h2>
<a target=""></a>
<p>To use this class in your javascript you will need the following script includes:</p>
<pre>
  &lt;script type='text/javascript' src='<a href='/icbc/mo/emerchant/dwr/engine.js'>/icbc/mo/emerchant/dwr/engine.js</a>'&gt;&lt;/script&gt;
  &lt;script type='text/javascript' src='<a href='/icbc/mo/emerchant/dwr/interface/IcbcUtil.js'>/icbc/mo/emerchant/dwr/interface/IcbcUtil.js</a>'&gt;&lt;/script&gt;
</pre>
<p>In addition there is an optional utility script:</p>
<pre>
  &lt;script type='text/javascript' src='<a href='/icbc/mo/emerchant/dwr/util.js'>/icbc/mo/emerchant/dwr/util.js</a>'&gt;&lt;/script&gt;
</pre>
<p>Replies from DWR are shown with a yellow background if they are simple or in an alert box otherwise.<br/>
	The inputs are evaluated as Javascript so strings must be quoted before execution.</p>
<div ng-controller="IcbcUtilCtrl">
<ul>
	<li>
		IcbcUtil.getRandomNum(    <input class='itext' type='text' size='5' ng-model="ngm0_0" ng-init="level0=5"  id='p20' title='Will be converted to: int'/>  );
		Disp Level<input type='text' size='2' id=dip2 ng-model="level0" ng-init="ngm0_0=5" />
		<input class='ibutton' type='button' ng-click="executeClick('getRandomNum',0,1)" value='Execute'  title='Calls IcbcUtil.getRandomNum(). View source for details.'/>
		<input  class='ibutton' type='button' ng-click="evalStringClick('getRandomNum',0,1)" value='evalString'/>
		<input  class='ibutton' type='button' ng-click="clearClick('getRandomNum',0,1)" value='Clear'/>
		<br/>
		<span ng-bind="span0" class='reply'></span>
	</li>
</ul>
</div>
<h2>Other Links</h2>
<ul>
	<li>Back to <a href='/icbc/mo/emerchant/dwr/'>class index</a>.</li>
</ul>
<div>

	<h2>Fixing Issues</h2>

	<h3><a name="missingConverter">Warning: No Converter for XXX.</a></h3>

	<p>
		dwr.xml does not have an allow entry that enables conversion of this type to
		Javascript. The most common cause of this problem is that XXX is a java bean
		and bean marshalling has not been enabled. Bean marshalling is disabled by
		default for security reasons.
	</p>

	<p>
		To enable marshalling for a given bean add the following line to the allow
		section of your dwr.xml file:
	</p>
<pre>
&lt;convert converter="bean" match="XXX"/&gt;
</pre>
	<p>
		It is also possible to enable marshalling for an entire package or hierachy
		of packages using the following:
	</p>
<pre>
&lt;convert converter="bean" match="package.name.*"/&gt;
</pre>

	<h3><a name="overloadedMethod">Warning: overloaded methods are not recommended</a></h3>

	<p>
		Javascript does not support overloaded methods, so the javascript file
		generated from this class will contain two methods the second of which will
		replace the first. This is probably not what you wanted.
	</p>

	<p>
		It is best to avoid overloaded methods when using DWR.
	</p>

	<h3><a name="excludedMethod">Warning: methodName() is excluded:</a></h3>

	<p>
		The methods may be excluded explicitly with an &lt;exclude&gt; element in
		dwr.xml or excluded implicitly by not being mentioned in an &lt;include&gt;
		element. Or the method may be defined in <code>java.lang.Object</code> -
		methods defined here may not be exported.
	</p>

	<p>
		If methods are excluded using &lt;include&gt; or &lt;exclude&gt; then no
		JavaScript proxy will be generated. To allow testing of methods that should
		not be accessible, add an init-param to WEB-INF/web.xml with the name/value
		allowImpossibleTests=true.
	</p>

</div>
<div id='dwr-debug'></div>
</body>
</html>
