<ion-view view-title="Forget Password" name="forgetpassword-view">
  <ion-content class="padding">
    <div class="list list-inset">
      <label class="item item-input">
        <input type="text" placeholder="Username" ng-model="data.username">
      </label>
      <label class="item item-input">
        <input type="text" placeholder="请输入验证码 Verification code">
      </label>
      <label class="item item-input">
        <input type="password" placeholder="请输入新密码 Password" ng-model="data.password">
      </label>
      <label class="item item-input">
        <input type="password" placeholder="请再次输入新密码 Password" ng-model="data.password2">
      </label>
    </div>
    <button class="button button-block button-assertive" ng-click="resetPassword(data)">确认修改密码</button>
  </ion-content>
</ion-view>

