<ion-view view-title="惠生活-商户端" name="dashboard-view">
  <ion-nav-buttons side="right">
    <button class="button button-icon icon ion-android-exit" ng-click="logout()"></button>
  </ion-nav-buttons>

  <ion-content class="padding">
    <div class="row"><div class="col text-center">
      <h3 class="title">Welcome {{username}}!</h3>
      <br><br>
      <button class="button button-full button-assertive" ng-click="scanBarcode()">
        扫码收款
      </button>
      <button class="button button-full button-assertive" ng-click="change()">
        跳转
      </button>
      <button class="button button-full button-assertive" ng-click="performValidRequest()">
        Make Valid Request
      </button>
      <br><br>
    </div></div>

    <div>
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="notice in notices" type="item-text-wrap">
        <img ng-src="{{notice.face}}">
        <h2>{{notice.name}}</h2>
        <p>{{notice.lastText}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-assertive" ng-click="remove(chat)">
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list>
    </div>
  </ion-content>
</ion-view>
