<ion-view view-title="惠生活-商戶" name="dashboard-view" data-tap-disabled="true">
  <ion-content style="background:#f1f1f1; color: #474747;">
    <div class="row" style="background:#f1f1f1; height: 50px;">
      <div style="margin-top: 10px;">&nbsp;<i class="icon ion-android-person" style="font-size: medium"></i>&nbsp;{{username}},歡迎您!</div>
    </div>
    <div class="list">
    <div class="item" style="background: #ffffff; padding-bottom: 0px; padding-top: 0px">
    <ion-slide-box show-pager="true" auto-play="true" does-continue="true" >
      <ion-slide>
        <div style="height:100%; width: 100%">
          <img src="./img/ad1.jpg">
        </div>
      </ion-slide>
      <ion-slide>
        <div style="height:100%; width: 100%">
          <img src="./img/ad2.jpg">
        </div>
      </ion-slide>
      <ion-slide>
        <div style="height:100%; width: 100%">
          <img src="./img/ad3.jpg">
        </div>
      </ion-slide>
    </ion-slide-box>
    </div>
      </div>

    <div class="row">
      <div class="row row-wrap text-center">
        <div class="col col-33" ng-click="scanBarcode()">
          <img src="./img/barcode.png"/>
          <p style="color: #4d4d4d">扫码收款</p>
        </div>
        <div class="col col-33" ng-click="assignGoods()">
          <img src="./img/pending.png"/>
          <p style="color: #4d4d4d">待發貨</p>
        </div>
        <div class="col col-33" ng-click="deliverGoods()">
          <img src="./img/deliver.png"/>
          <p style="color: #4d4d4d">送貨中</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="row row-wrap text-center">
        <div class="col col-33" ng-click="orderDetail()">
          <img src="./img/finish.png"/>
          <p style="color: #4d4d4d">當日訂單</p>
        </div>
        <div class="col col-33">
          <img src="./img/orders.png"/>
          <p style="color: #4d4d4d">送貨記錄</p>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
