<ion-view view-title="惠生活-商户端" name="dashboard-view">

  <ion-content class="padding">
    <div class="row">
      {{username}},歡迎您!<br>
    </div>
    <div class="spacer" style="height: 3px;"></div>
    <div class="row">
      <ion-slide-box on-slide-changed="slideHasChanged($index)" auto-play="true" does-continue="true"
                     slide-interval=2000 show-pager="true" pager-click="pageClick(index)"
                     active-slide="model.activeIndex" delegate-handle="delegateHandler">
        <ion-slide>
          <div class="box blue">
            <img src="img/ad1.jpg">
          </div>
        </ion-slide>
        <ion-slide>
          <div class="box yellow">
            <img src="img/ad2.jpg">
          </div>
        </ion-slide>
        <ion-slide>
          <div class="box pink">
            <img src="img/ad3.jpg">
          </div>
        </ion-slide>
      </ion-slide-box>
    </div>

    <div class="row">
      <div class="row row-wrap text-center">
        <div class="col col-33" ng-click="scanBarcode()">
          <img ng-src="img/barcode.png"/>
          <p style="color: #4d4d4d">扫码收款</p>
        </div>
        <div class="col col-33" ng-click="assignGoods()">
          <img ng-src="img/pending.png"/>
          <p style="color: #4d4d4d">待發貨</p>
        </div>
        <div class="col col-33" ng-click="deliverGoods()">
          <img ng-src="img/deliver.png"/>
          <p style="color: #4d4d4d">送貨中</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="row row-wrap text-center">
        <div class="col col-33" ng-click="orderDetail()">
          <img ng-src="img/finish.png"/>
          <p style="color: #4d4d4d">完成訂單</p>
        </div>
        <div class="col col-33">
          <img ng-src="img/orders.png"/>
          <p style="color: #4d4d4d">送貨記錄</p>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
