<ion-view view-title="ICBC惠生活 - 送貨管理" name="dashboard-view">



  <ion-content overflow-scroll="true" padding="true">

    <ion-refresher
      pulling-text="下拉刷新..."
      on-refresh="doRefresh()">
    </ion-refresher>

    <div class="item item-button-right">
      总收款：{{totalList.totalAmount/100 | number:2}} / 总交易：{{totalList.totalCount}}
      <button class="button button-positive" ng-click="handover()">
        <i class="icon ion-android-arrow-up">交款</i>
      </button>
    </div>


    <form class="list">
      <label class="item item-input">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="search" ng-model="search_key" placeholder="可搜索用戶名，手機，價格等訂單信息"/>
      </label>
    </form>

   <ion-list ng-repeat="x in fullList | orderBy: '-createDate' | filterBy: ['orderId','createDate','custPhone','userName','currency','costAmount','realAmount']: search_key">
      <ion-item type="item-text-wrap" style="line-height: 22px; font-size: 14px;" ng-click="showActionSheet(x)">
        <div>订单编号： <span ng-bind="x.orderId"></span></div>
        <div>时间： <span ng-bind="x.createDate"></span></div>
        <div>实收金额： <span ng-bind="x.currency"></span>　<span ng-bind="x.realAmount / 100"></span> <!--<i style="float:right;" class="icon ion-chevron-right icon-accessory"></i>--></div>
        <div>收货人： <span ng-bind="x.userName"></span>　(<span ng-bind="x.custPhone"></span>)</div>
        <div><span ng-bind="x.custAddr"></span></div>
<!--          <ion-option-button class="button-positive" ng-click="showConfirm(x)">
          详单
        </ion-option-button>
        <ion-option-button class="button-balanced" ng-click="showConfirm(x)">
          完成
        </ion-option-button>-->

      </ion-item>
    </ion-list>



  </ion-content>
</ion-view>
