<ion-view view-title="ICBC惠生活 - 送貨管理" name="dashboard-view">
  <ion-nav-buttons side="right">
    <button class="button button-icon icon ion-android-exit" ng-click="logout()"></button>
  </ion-nav-buttons>

  <ion-content overflow-scroll="true" padding="true" class="padding">
    <form class="list">
      <label class="item item-input">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="search" ng-model="search_key" placeholder="可搜索用戶名，手機，價格等訂單信息">
      </label>
    </form>
    <!--<div ng-bind="search_key"></div>-->
    <ion-list ng-repeat="x in fullList | orderBy: '-createDate'">
      <ion-item ng-click="showConfirm(x.orderId)">
        <div>订单编号： <span ng-bind="x.orderId"></span></div>
        <div>时间： <span ng-bind="x.createDate"></span></div>
        <div>收货人： <span ng-bind="x.userName"></span></div>
        <div>订单金额： <span ng-bind="x.currency"></span>　<span ng-bind="x.costAmount / 100"></span></div>
        <div>实收金额： <span ng-bind="x.currency"></span>　<span ng-bind="x.realAmount / 100"></span></div>

        <!--<button class="button button-medium">submit</button>-->
      </ion-item>
    </ion-list>

    <ion-list>
      <label class="item item-input-inset">
        <ion-item class="item-input-wrapper">
          订单编号： <span ng-bind="x.orderId"></span>

        </ion-item>
        <button class="button button-medium">
          完成
        </button>
      </label>
    </ion-list>


  </ion-content>
</ion-view>
