<ion-view view-title="Sign-In" name="login-view">
  <ion-content class="padding">
      <div class="list list-inset">
          <label class="item item-input">
              <input type="text" placeholder="Username" ng-model="data.username" value="admin">
          </label>
          <label class="item item-input">
              <input type="password" placeholder="Password" ng-model="data.password" value="1">
          </label>
      </div>
      <button class="button button-block button-assertive" ng-click="login(data)">Login</button>
      <div class="text-right">
        <a href="#/forgetpassword" ng-click="forgetPassword(data)">忘記密碼 Forget password</a>
      </div>

  </ion-content>
</ion-view>
