<ion-view view-title="我">
  <ion-nav-buttons side="right">
    <button class="button button-icon icon ion-settings" ng-click=""></button>
  </ion-nav-buttons>
  <ion-content class="setting">
    <ion-list>
      <ion-item class="item-divider item-gap">
      </ion-item>

      <ion-item class="item-avatar item-icon-right" >


        <img src="img/commentfailure.png" class="avatar">
        <h2>用户名：{{username}}</h2>
        <p>商户名：澳門氹仔店</p>
        <p>门店编号：s12312312</p>
        <!-- <i class="icon ion-ios-arrow-right"></i> -->
        <i class="icon ion-chevron-right icon-accessory"></i>

      </ion-item>

      <ion-item class="item-divider item-gap">
      </ion-item>

      <!-- <ion-toggle ng-model="settings.showAvatar" ng-change="settingsChange()">
        显示头像
      </ion-toggle> -->
      <ion-toggle ng-model="settings.sendFrom" ng-change="settingsChange()">
        显示消息通知
      </ion-toggle>

      <!--   <ion-item class="item-toggle">
      仅在Wi-Fi下显示头像
      <label class="toggle toggle-assertive">
        <input type="checkbox" ng-checked="settings.saverMode" ng-model="settings.saverMode">
        <div class="track">
          <div class="handle"></div>
        </div>
      </label>
    </ion-item>
      <div class="item">
        <pre ng-bind="settings.saverMode | json"></pre>
        {{settings}}
      </div>-->
      <ion-item class="item-divider">
        关于
      </ion-item>
      <ion-item>
        当前版本
        <span class="item-note">
          {{appVersion}}
        </span>
      </ion-item>
      <ion-item ng-click="feedback()">
        意见反馈
        <span class="item-note">
          Email:kin95@126.com
        </span>
      </ion-item>
      <ion-item onclick="window.open('itms-apps://itunes.apple.com/app/XXXX', '_system')" ng-if="platform.isIOS()">
        评分鼓励
      </ion-item>
      <ion-item ng-click="checkUpdate()">
        检查更新
      </ion-item>
      <ion-item onclick="window.open('http://ionichina.com/about', '_blank', 'location=yes')">
        关于惠生活
      </ion-item>
    </ion-list>

    <button class="button button-full button-assertive" ng-click="logout()">
      退出登录
    </button>

    <div id="copyright">
      &copy; 2016 工商银行·工银澳门
    </div>
  </ion-content>
</ion-view>
