<ion-view view-title="我的">
  <ion-content class="setting">
    <ion-list>
      <ion-item class="item-avatar item-icon-right" style="padding-bottom: 12px; padding-top: 12px">
        <img src="img/commentfailure.png" class="avatar">
        <p>用戶名：{{username}}</>
        <p>商戶名：澳門氹仔店</p>
        <p>門店編號：s12312312</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
      <ion-toggle ng-model="settings.sendFrom" ng-change="settingsChange()">
        顯示消息通知
      </ion-toggle>

      <!--   <ion-item class="item-toggle">
      仅在Wi-Fi下显示头像
      <label class="toggle toggle-assertive">
        <input type="checkbox" ng-checked="settings.saverMode" ng-model="settings.saverMode">
        <div class="track">
          <div class="handle"></div>
        </div>
      </label>
    </ion-item>
      <div class="item">
        <pre ng-bind="settings.saverMode | json"></pre>
        {{settings}}
      </div>-->
      <ion-item class="item-divider" style="padding-bottom: 12px; padding-top: 12px">
        關於
      </ion-item>
      <ion-item style="padding-bottom: 12px; padding-top: 12px">
        當前版本
        <span class="item-note">
          {{appVersion}}
        </span>
      </ion-item>
      <ion-item ng-click="feedback()" style="padding-bottom: 12px; padding-top: 12px">
        意見反饋
        <span class="item-note">
          Email:webmaster@mc.icbc.com.cn
        </span>
      </ion-item>
      <ion-item ng-click="checkUpdate()" style="padding-bottom: 12px; padding-top: 12px">
        檢查更新
      </ion-item>
      <ion-item class="item-divider" style="padding-bottom: 12px; padding-top: 12px">
       &nbsp;
      </ion-item>
      <ion-item style="border-bottom: hidden; margin-bottom: 0px">
        <button class="button button-block  eMerchanColor" ng-click="logout()">
          退出登錄
        </button>
      </ion-item>
    </ion-list>
    <div id="copyright" style="margin-top: 0px">
      &copy; 工銀澳門
    </div>
  </ion-content>
</ion-view>
