<ion-view view-title="店员：{{username}}" name="payconfirm-view" cache-view='false' class="col-center" hide-tabs>
  <ion-nav-buttons side="left">
    <button class="button button-icon ion-chevron-right" ng-click="myGoBack()"></button>
  </ion-nav-buttons>
  <ion-content class="padding">
    <ion-list>
      <ion-item class="item-divider item-gap positive"></ion-item>
      <ion-item class="item-light">
        <div class="row row-wrap">
          <div class="col col-40 ">
            <label class="input-label h3">
              收银总金额:<br>
              Total Mount
            </label>
          </div>
          <div class="col col-40 text-left">
            MOP &nbsp;<input class="text-left h3" placeholder="请输入总金额" ng-model="data.inputMoney">
          </div>
        </div>
      </ion-item>
      <ion-item class="item-divider item-gap"></ion-item>
      <ion-item class="item-light">
        <label class="text-left h4" ng-show="!buttonTextChange">核实客户信息:</label>
        <br><br>
        <label class="text-left ion-android-person h4" ng-show="!buttonTextChange">手机号: {{custId}}</label><br>
        <label class="text-center ion-android-done h3" ng-show="buttonTextChange">等待客户付款</label><br>
      </ion-item>
    </ion-list>

    <br><br><br>

    <button class="button button-block button-assertive" ng-show="!buttonTextChange" ng-click="confirmMoney(data)">确认金额</button>
    <button class="button button-block button-assertive" ng-show="buttonTextChange" ng-click="confirmMoney(data)">处理其他订单</button>
  </ion-content>
</ion-view>

