<ion-view view-title="Admin" name="dashboard-view">
  <ion-content class="padding">
    <ion-list>
      <label class="row-center h2">支付成功！</label>
      <ion-item class="item-divider item-gap positive"></ion-item>
      <ion-item class="item-light">
        <div class="row row-wrap">
          <div class="col col-40 ">
            <label class="text-left h5">
              消费总金额:<br>
              Total Mount
            </label>
          </div>
          <div class="col col-40">
            <label class="text-left h5"> &nbsp;&nbsp;{{costAmount}}&nbsp;&nbsp;MOP </label>
          </div>
        </div>
        <div class="row row-wrap">
          <div class="col col-40 ">
            <label class="text-left h5">
              服务费:
            </label>
          </div>
          <div class="col col-40 ">
            <label class="text-left h5"> &nbsp;&nbsp;{{addFeeAmount}}&nbsp;&nbsp;MOP </label>
          </div>
        </div>
        <div class="row row-wrap">
          <div class="col col-40 ">
            <label class="text-left h5">
              优惠:
            </label>
          </div>
          <div class="col col-40 ">
            <label class="text-left h5"> &nbsp;&nbsp;{{discountAmount}}&nbsp;&nbsp;MOP </label>
          </div>
        </div>
      </ion-item>

      <ion-item class="item-light">
        <div class="row row-wrap">
          <div class="col col-40 ">
            <label class="text-left h5">
              实收:
            </label>
          </div>
          <div class="col col-40 ">
            <label class="text-left h5"> &nbsp;&nbsp;{{realAmount}}&nbsp;&nbsp;MOP </label>
          </div>
        </div>
      </ion-item>
      <ion-item class="item-divider item-gap"></ion-item>

      <ion-item class="item-light">
        <div class="row row-wrap">
          <div class="col col-40 ">
            <label class="text-left h5">
              客户:
            </label>
          </div>
          <div class="col col-40 ">
            <label class="text-left h5"> &nbsp;&nbsp;{{custId}}&nbsp;&nbsp;MOP </label>
          </div>
        </div>
      </ion-item>

      <ion-item class="item-light">
        <div class="row row-wrap">
          <div class="col col-40 ">
            <label class="text-left h5">
              收款人:
            </label>
          </div>
          <div class="col col-40 ">
            <label class="text-left h5"> &nbsp;&nbsp;{{courierId}}&nbsp;&nbsp;MOP </label>
          </div>
        </div>
      </ion-item>

      <ion-item class="item-light">
        <div class="row row-wrap">
          <div class="col col-40 ">
            <label class="text-left h5">
              订单号:
            </label>
          </div>
          <div class="col col-40 ">
            <label class="text-left h5"> &nbsp;&nbsp;{{orderId}}&nbsp;&nbsp;MOP </label>
          </div>
        </div>
      </ion-item>
    </ion-list>

    <br><br><br>

    <button class="button button-block button-assertive" ng-click="goBackToDash">返回首页</button>

  </ion-content>
</ion-view>


