<ion-view view-title="Admin" name="dashboard-view">
  <ion-content>
    <ion-list>
      <ion-item style="border: hidden;">
        <div class="eMerchanColor-font-red h2" style="text-align: center; padding-top: 30px">
          <i class="icon ion-ios-checkmark"></i>&nbsp;支付成功！
        </div>
      </ion-item>
      <ion-item style="border: hidden; font-size: 15px; padding-left: 10px;padding-top: 0px; padding-bottom: 0px">
        <div class="row">
          <div class="col" style="text-align: right">訂單號:</div>
          <div class="col col-70">{{orderId}}</div>
        </div>
      </ion-item>
      <ion-item style="border: hidden; font-size: 16px; padding-left: 10px;padding-top: 0px; padding-bottom: 0px">
        <div class="row">
          <div class="col" style="text-align: right">客戶:</div>
          <div class="col col-70">{{custId}}</div>
        </div>
      </ion-item>
      <ion-item style="border: hidden; font-size: 16px; padding-left: 10px;padding-top: 0px; padding-bottom: 0px">
        <div class="row">
          <div class="col" style="text-align: right">消費金額:</div>
          <div class="col col-70">MOP {{costAmount}}</div>
        </div>
      </ion-item>
      <ion-item style="border: hidden; font-size: 16px; padding-left: 10px;padding-top: 0px; padding-bottom: 0px">
        <div class="row">
          <div class="col" style="text-align: right">服務收費:</div>
          <div class="col col-70">MOP {{addFeeAmount}}</div>
        </div>
      </ion-item>
      <ion-item style="border: hidden; font-size: 16px; padding-left: 10px;padding-top: 0px; padding-bottom: 0px">
        <div class="row">
          <div class="col" style="text-align: right">優惠:</div>
          <div class="col col-70">MOP {{discountAmount}}</div>
        </div>
      </ion-item>
      <ion-item style="border: hidden; font-size: 16px; padding-left: 10px;padding-top: 0px; padding-bottom: 0px">
        <div class="row">
          <div class="col" style="text-align: right">实收:</div>
          <div class="col col-70 eMerchanColor-font-red"><b>MOP {{realAmount}}</b></div>
        </div>
      </ion-item>
      <ion-item style="border: hidden; padding-bottom: 0px">
        <button class="button button-block eMerchanColor" ng-click="goBackToDash">返回首页</button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>


